<h1>Listing shareholders for project <%= project.name %></h1>

<table>
  <tr>
    <th>User</th>
    <th>Shares</th>
  </tr>

<% @shareholders.each do |shareholder| %>
  <tr>
    <td><%=h shareholder.user.username %></td>
    <td><%=h shareholder.num_shares %></td>
  </tr>
<% end %>
</table>

<br />

<h1>Share Transactions</h1>
...
